name: Build and Release
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        include:
          - os: windows-latest
            artifact_name: windows
            release_name: TrustTunnel-Windows.zip
            core_platform: "windows"
          - os: ubuntu-latest
            artifact_name: linux
            release_name: TrustTunnel-Linux.tar.gz
            core_platform: "linux"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
                    sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libayatana-appindicator3-dev

      - name: Download TrustTunnel Core
        run: |
          python .github/scripts/download_core.py ${{ matrix.core_platform }}

      - name: Build App
        run: flutter build ${{ matrix.artifact_name }} --release

      - name: Pack Windows
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath ${{ matrix.release_name }}

      - name: Pack Linux
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          cd build/linux/x64/release/bundle
          tar -czvf ../../../../${{ matrix.release_name }} .

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.release_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}